.carousel-container {
  position: relative;
  overflow: hidden;
  width: 70%;
  height: 500px; /* Increased height to accommodate image and description */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  display: flex;
  flex-direction: column; /* Stack image and description vertically */
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 100%;
  max-height: calc(100% - 60px); /* Subtract the height of the description */
  object-fit: contain;
}

.slide-description {
  text-align: center;
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0 10px;
  height: auto; /* Fixed height for consistency */
  line-height: 1.2; /* Adjust line height as needed */
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  z-index: 1000;
  padding: 20px;
  border-radius: 50%;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

/* Dots for navigation */
.dot-container {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ddd;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}
