
/* Main container */
.work-experience,
.about-me,
.education,
.projects-section,
.experience{
  padding: 20px;
  background-color: #242424;
  color: #d7d6d6;
  font-family: 'Arial', sans-serif;
}



/* Main header */
.work-experience h2,
.about-me h2,
.education h2,
.projects-section h2,
.experience h2 {
  font-size: 2.5rem;
  color: #b85c0b;
  margin-bottom: 20px;
  margin-top: -10px;
  border-bottom: 2px solid #b85c0b;
  padding-bottom: 10px;
}


/* Secondary header */
.job h3,
.degree h3,
.project h3{
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin-bottom: 5px;
}


/* Job period */
.job-title,
.degree-title,
.project-title{
  font-size: 1.5rem;
  color: white;
}

.project-title:hover {
  color: #b85c0b;
}

/* Job period */
.job-period,
.degree-period,
.project-period{
  font-size: 1.2rem;
  color: #b0b0b0;
}

.project-language {
  list-style-type: disc;
  margin-left: 20px; /* Adjust if necessary to position the entire block */
  padding-left: 0; /* Removes default padding */
  font-size: 1.4rem;
}

/* Responsibilities list */
.responsibilities,
.courses{
list-style-type: disc;

}
.project-features{
  margin-top: 20px;
width: 400px;
font-size: 1.2rem;
color: #b0b0b0;

}

.courses li{
  margin-bottom: 5px;
  line-height: 2;
}

.responsibilities li {
  margin-bottom: 5px;
  line-height: 1.5;
}


.company-logo {
  display: inline-block;
  margin-right: 10px; /* Space between logo and text */
  width: 32px;
  height: 32px;
}

.company-logo:hover{
  transform: scale(1.2);
}

.company-logo svg,
.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.languagewire-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about-me-body {
  margin-bottom: -5px;
}

.ku-img {
  background-color: white;
  /* Optional: Ensure the image doesn't exceed its container */
  width: 100%;
  height: auto;
}

.pygame-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.github-project-link {
  display: flex;
  align-items: center; /* Center the icon vertically */
  justify-content: center;
}

.technical-skills {
  font-size: 1.2rem;
  margin-left: -30px;
}