
  /* Content container that includes the menu pane and main content */
  .content-container {
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
  }


/* Menu pane at the top */
.pane-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #242424;
    z-index: 999; /* Ensure it sits above other content */
    padding: 10px 0;
  }
  
  /* Style the menu */
  .menu {
    display: flex;
    justify-content: center;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin: 0 15px;
  }
  
  .menu a {
    color: #d7d6d6;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .menu a:hover {
    color: #b85c0b;
    transform: scale(1.2);
  }

  .menu a.front-page-link {
    font-size: 1.8rem;
    font-weight: bold;
    color: #b85c0b; /* Set font color to orange */
  }

  .menu a.front-page-link:hover{
    color: #d7d6d6;
    transform: scale(1.2);
  }

  .section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative; /* Ensure child elements are positioned relative to this container */
}

.headline {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 100px; /* Adjust this value to control when the headline sticks */
    width: 100%;
    height: 50px;
    z-index: 1; /* Ensure the headline appears above other content */
}

.headline h2 {
    font-size: 2.5rem;
    color: #b85c0b;
    margin-top: -10px;
}
  

/* Container that holds the side-by-side panes */
.split-container {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: center;
    width: 100%;
    height: 90vh; 
    box-sizing: border-box;
    padding-top: 100px; 
    gap: 20px; 
    margin-bottom: 10vh;
}

/* Code display section */
.code {
    width: 40%; /* Width of the code container */
    height: 80vh; /* Fixed height */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: stretch; /* Stretch to fill width */
    justify-content: flex-start; /* Align content to the top */
    color: white; /* Text color */
    padding: 10px; /* Add padding for readability */
    overflow: auto; /* Enable scrolling for overflow */

}

/* Shift content to the right when burger menu is open */
.content-container.menu-open {
    transform: translateX(200px); /* Adjust based on burger menu width */
  }


/* Carousel section */
.display {
    width: 50%; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: column;
    padding-top: 10px;
    font-size: 1rem;
    
}


.text {
  display: flex;  /* Enables flexbox properties */
  flex-direction: column; /* Aligns children elements vertically */
  align-items: flex-start; /* Aligns children items to the start (left) */
  justify-content: flex-start; /* Aligns container content to the start vertically (top) */
  text-align: left; /* Aligns text inside the flex container to the left */
  font-size: 1.2rem;
  height: 25%; /* Set a fixed height */
  background-color: #3b3b3b;
  border-radius: 10px; /* Rounds the corners */
  padding: 10px; /* Adds space inside the container, around the content */
  width: 60%;
  margin-top: 15px;
  margin-bottom: 20px;
  overflow-y: auto; /* Enables vertical scrolling when content exceeds the height */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}


.features,
.description{
    font-size: 1rem;
    margin-bottom: 1px;
}


.introduction-recipeapp {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    height: 95vh;
    background-image: url('/pictures/recipeapp/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; /* Make it the containing block for the pseudo-element */
    margin-bottom: 10%;
}

.introduction-recipeapp::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Black mesh with 50% opacity */
    z-index: 1; /* Place the mesh above the background */
}

.introduction-recipeapp .techsection {
    position: relative;
    z-index: 2; /* Ensure content is above the mesh */
}

.techsection {
    height: 45vh;
    width: auto;
    border-width: 4px;
    padding: 10px; /* Adds spacing inside the border */
}

