/* WorkExperience.css */

/* Main container */
.work-experience {
  padding: 20px;
  background-color: #242424;
  color: #d7d6d6;
  font-family: 'Arial', sans-serif;
}

/* Main header */
.work-experience h2 {
  font-size: 2rem;
  color: #b85c0b;
  margin-bottom: 20px;
  border-bottom: 2px solid #b85c0b;
  padding-bottom: 10px;
}

/* Job container */
.job {
  margin-bottom: 30px;
}

/* Secondary header */
.job h3 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 5px;
}

/* Job period */
.job-title {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}

/* Job period */
.job-period {
  font-size: 0.8rem;
  color: #b0b0b0;
  margin-bottom: 10px;
}

/* Responsibilities list */
.responsibilities {
  list-style-type: disc;
  margin-left: 20px;
}

.responsibilities li {
  margin-bottom: 5px;
  line-height: 1.5;
}


.company-logo {
  display: inline-block;
  margin-right: 10px; /* Space between logo and text */
  width: 32px;
  height: 32px;
}

.company-logo:hover{
  transform: scale(1.2);
}

.company-logo svg,
.company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.languagewire-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}