html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'DM Sans', sans-serif; 
}

/* Content container that includes the menu pane and main content */
.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Adjust height if necessary */
  transition: transform 0.3s ease; /* Smooth transform transition */
}

/* Shift content to the right when burger menu is open */
.content-container.menu-open {
  transform: translateX(200px); /* Adjust based on burger menu width */
}

/* Burger menu styles */
.burger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

/* Menu pane at the top */
.pane-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242424;
  scroll-behavior: smooth;
  box-sizing: border-box;
  z-index: 999; /* Ensure it sits above other content */
  
}

/* Style the menu */
.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #d7d6d6;
  text-decoration: none;
  font-size: 1.5rem;
}

.menu a:hover {
  color: #b85c0b;
  transform: scale(1.2);
}

/* Main content */
.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  margin-top: 0; /* Ensure there's no margin pushing it down */
  padding-top: 0; /* Ensure there's no padding at the top */
  margin-top: 0px;
}

/* Container that holds the side-by-side panes */
.split-container {
  display: flex; 
  flex-direction: row; 
  align-items: flex-start; 
  justify-content: center;
  width: 100%;
  height: 90vh; 
  box-sizing: border-box;
  padding-top: 100px; 
  gap: 20px; 
  margin-bottom: 10vh;

}


/* Styles for the stationary pane */
.pane-stationary {
  width: 35%; 
  flex-shrink: 0;
  overflow: hidden; 
  height: auto; 
  display: flex; 
  align-items: center; 
  flex-direction: column; 
}

/* Styles for the scrollable pane */
.pane-scrollable{
  flex-grow: 1; /* Grow to fill the remaining space */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden;
  height: 100%; /* Fills the height of split-container */
  scroll-behavior: smooth;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
}




/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .pane-stationary,
  .pane-scrollable{
    width: 100%;
    height: auto; /* Adjust height for stacked layout */
    scroll-behavior: smooth;
  }
}


/* Image styles */
.rounded-image {
  border-radius: 10px;
  height: 200px;
  width: auto;
  overflow: hidden;
  display: block;
}

.circular-image {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading and paragraph styles */
.pane-stationary h1 {
  font-size: 2rem;
  color: #b85c0b;
  font-weight: bold;
  text-align: left;
}

.pane-stationary p {
  font-size: 1.2rem;
  color: #d7d6d6;
  line-height: 1.3;
  margin-top: 10px;
  text-align: left;
}

.menuButton {
  font-size: 1.3rem;
  outline: none; /* Remove default outline */
  border: none; /* Optional: Remove default border if present */
  background: none; /* Optional: Remove default background if present */
  cursor: pointer; /* Change cursor to pointer on hover */
}

/* Hover state */
.menuButton:hover {
  color: #b85c0b;
  /* No outline needed here */
}


/* Active state (when the button is being clicked) */
.menuButton:active {
  /* Optional: Styles when the button is active */
  outline: none; /* Remove outline if desired */
}


.resume-link{
  fill: white
}